@font-face {
  font-family: 'Borough';
  src:
  url('../fonts/Borough/Borough.woff') format('woff'),
  url('../fonts/Borough/Borough.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
@font-face {
  font-family: 'Montserrat';
  src:
  url('../fonts/Montserrat/Montserrat.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}