.hero
  padding-bottom: 205px
  background: $dark
  background: $dark url(../img/beton.jpg)
  background-size: contain
  background-repeat: repeat
  &__inner
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__title
    max-width: 60.78rem
    width: 100%
    text-align: center
    color: #fefeff
    margin-bottom: 126px
    text-shadow: -4px 7px 9px #000000
    line-height: 1
    z-index: 1000
    &--big
      margin: 0
      font-size: 8.05rem
      position: relative
      font-weight: 400
      &::before,
      &::after
        content: ""
        display: block
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        z-index: -1
        position: absolute
      &::before
        width: 11.85rem
        height: 15.5rem
        background: url("../img/paper.png")
        left: -20px
        top: -63px
      &::after
        width: 8.64rem
        height: 10.42rem
        background: url("../img/tomato.png")
        top: -20px
        right: 0px
    &--small
      font-size: 4.42rem
      margin: 0
      margin-bottom: -5px
      font-weight: 400
    &--medium
      font-size: 6.86rem
      letter-spacing: 0.01rem
      margin: 0
      font-weight: 400
  &__bg
    margin-top: -250px
    z-index: 1
    max-width: 69.57rem
    width: 100%
    position: relative
  &__layer
    &-absolute
      position: absolute
      &--left
        left: 220px
        top: 40px
      &--right
        right: 170px
        top: 70px
  &__button
    font-size: 1.8rem
    margin-top: -270px
    z-index: 999
    padding: 1.6rem 3.9rem
      